[submodule "Plugins/UnrealClaude"]
	path = Plugins/UnrealClaude
	url = https://github.com/Natfii/UnrealClaude.git
[submodule "Plugins/UnrealGenAISupport"]
	path = Plugins/UnrealGenAISupport
	url = https://github.com/prajwalshettydev/UnrealGenAISupport.git
